body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 5px 20px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    cursor: pointer;
}

#message {
    color: red;
}
